:root {
  --backgroundbrandinverse-secondary: rgba(255, 214, 146, 1);
  --backgroundbrandinverse-tertiary: rgba(255, 200, 109, 1);
  --backgroundcontextualon-surface-cont: rgba(51, 51, 51, 1);
  --backgroundcontextualprimary-cont: rgba(255, 227, 182, 1);
  --backgroundcontextualprimary-cont-pressed: rgba(255, 214, 146, 1);
  --backgroundcontextualsurface: rgba(19, 19, 19, 1);
  --backgroundcontextualsurface-cont: rgba(38, 38, 38, 1);
  --backgroundcontextualsurface-cont-pressed: rgba(51, 51, 51, 1);
  --backgroundneutralprimary: rgba(0, 0, 0, 1);
  --backgroundneutralsecondary-inverse: rgba(38, 38, 38, 1);
  --backgroundneutraltertiary: rgba(38, 38, 38, 1);
  --body-large-high-emphasis-font-family: "Inter-SemiBold", Helvetica;
  --body-large-high-emphasis-font-size: 16px;
  --body-large-high-emphasis-font-style: normal;
  --body-large-high-emphasis-font-weight: 600;
  --body-large-high-emphasis-letter-spacing: 0px;
  --body-large-high-emphasis-line-height: 24px;
  --body-medium-high-emphasis-font-family: "Inter-SemiBold", Helvetica;
  --body-medium-high-emphasis-font-size: 14px;
  --body-medium-high-emphasis-font-style: normal;
  --body-medium-high-emphasis-font-weight: 600;
  --body-medium-high-emphasis-letter-spacing: 0px;
  --body-medium-high-emphasis-line-height: 22px;
  --body-medium-medium-emphasis-font-family: "Inter-Medium", Helvetica;
  --body-medium-medium-emphasis-font-size: 14px;
  --body-medium-medium-emphasis-font-style: normal;
  --body-medium-medium-emphasis-font-weight: 500;
  --body-medium-medium-emphasis-letter-spacing: 0px;
  --body-medium-medium-emphasis-line-height: 22px;
  --body-small-low-emphasis-font-family: "Inter-Regular", Helvetica;
  --body-small-low-emphasis-font-size: 12px;
  --body-small-low-emphasis-font-style: normal;
  --body-small-low-emphasis-font-weight: 400;
  --body-small-low-emphasis-letter-spacing: 0.24px;
  --body-small-low-emphasis-line-height: 18px;
  --body-small-medium-emphasis-font-family: "Inter-Medium", Helvetica;
  --body-small-medium-emphasis-font-size: 12px;
  --body-small-medium-emphasis-font-style: normal;
  --body-small-medium-emphasis-font-weight: 500;
  --body-small-medium-emphasis-letter-spacing: 0.24px;
  --body-small-medium-emphasis-line-height: 18px;
  --bordercontextualinput: rgba(166, 166, 166, 1);
  --bordercontextualinput-disabled: rgba(242, 242, 242, 0.1);
  --bordercontextualon-surface-cont: rgba(242, 242, 242, 0.1);
  --title-1-font-family: "Inter-SemiBold", Helvetica;
  --title-1-font-size: 24px;
  --title-1-font-style: normal;
  --title-1-font-weight: 600;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 32px;
  --typecontextualdisabled: rgba(166, 166, 166, 1);
  --typecontextualhighlight: rgba(255, 255, 255, 1);
  --typecontextualon-primary: rgba(25, 19, 7, 1);
  --typecontextualon-primary-cont: rgba(25, 19, 7, 1);
  --typecontextualon-surface: rgba(255, 255, 255, 1);
  --typecontextualon-surface-cont: rgba(242, 242, 242, 1);
  --typeneutralhigh-emphasis: rgba(255, 255, 255, 1);
  --typeneutrallow-emphasis: rgba(216, 216, 216, 1);
  --typeneutralmedium-emphasis: rgba(242, 242, 242, 1);
  --backgroundneutralsecondary: rgba(19, 19, 19, 1);
  --backgroundsuccessprimary: rgba(55, 98, 47, 1);
  --borderneutralprimary: rgba(242, 242, 242, 1);
  --title-2-font-family: "Inter-SemiBold", Helvetica;
  --title-2-font-size: 18px;
  --title-2-font-style: normal;
  --title-2-font-weight: 600;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 26px;
}
